<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/index.css">
    <script type="text/javascript" src="js/event.js"></script>
    <title>Link-AREA</title>
</head>
<body>
  <main>  
    <header>
      <div class="title-w">
        <h1>Link-AREA</h1>
        <h3>무료다운로드 <strong>링크</strong> 라이브러리</h3>
      </div>
    </header>
    <section>
      <div class="search-w">
        <form class="search-c">
          <table>
            <tbody>
              <tr>
                <td class="searchBar-ci">
                  <input type="text" id="url" value placeholder=" 저작권 없는 사진, 음악, 동영상 사이트 검색 ">
                </td>
                <td class="searchClick-ci">
                  <input type="submit" id="btn" value="">
                </td>
              </tr>              
            </tbody>
          </table>
        </form>
      </div>
    </section>
    <footer>
      <div class="menu-w">
        <h3>무료다운로드사이트 카테고리</h3>
        <div class="menu-c">
          <div class="menuPhoto-ci"><a href="#photo">사진</a></div>
          <div class="menuMusic-ci"><a href="#music">음악</a></div>
          <div class="menuVideo-ci"><a href="#video">동영상</a></div>
        </div>
      </div>
      <div class="contact">
        <ul>
          <li>&#169; 2017 ADAMS-J</li>
          <li><a href="#">회사소개</a></li>
          <li>서비스</li>
          <li><a href="#">홈으로 이동</a></li>
          <li><a href="#photo">사진</a></li>
          <li><a href="#music">음악</a></li>
          <li><a href="#video">동영상</a></li>
        </ul>
      </div>
    </footer>
  </main>
  <div class="link-w">
    <section class="link-photo-c" id="photo">
      <div class="photo-title-b b t-b">
        <div class="title-p"><p>무료사진</p></div>
      </div>
      <div class="photo-content-b b c-b">
        <div class="content-p">
          <div class="content-p-w1">
            <div class="content-pi pi-1">
              <ul>
                <li><a href="https://pixabay.com" target="_blank"><img src="css/pixabay.png" alt=""></a></li>
                <li>Piabay</li>
                <li><a href="https://pixabay.com" target="_blank">https://pixabay.com</a></li>
                <li>무료 고퀄리티 이미지 다운로드</li>
              </ul>
            </div>
            <div class="content-pi pi-2">
              <ul>
                <li><a href="https://unsplash.com" target="_blank"><img src="css/unsplash.png" alt=""></a></li>
                <li>Unsplash</li>
                <li><a href="https://unsplash.com" target="_blank">https://unsplash.com</a></li>
                <li>무료 배경화면 이미지 *한글검색x</li>
              </ul>
            </div>
            <div class="content-pi pi-3">
              <ul>
                <li><a href="http://gratisography.com" target="_blank"><img src="css/gratisography.png" alt=""></a></li>
                <li>Gratisography</li>
                <li><a href="http://gratisography.com" target="_blank">http://gratisography.com</a></li>
                <li>독특하고 생동감 넘치는 이미지 </li>
              </ul>
            </div>
          </div>  
          <div class="content-p-w2">
            <div class="content-pi pi-4">
              <ul>
                <li><a href="http://littlevisuals.co" target="_blank"><img src="css/little-visuals.png" alt=""></a></li>
                <li>Little Visuals</li>
                <li><a href="http://littlevisuals.co" target="_blank">http://littlevlsuals.co</a></li>
                <li>자연을 배경으로하는 이미지</li>
              </ul>
            </div>
            <div class="content-pi pi-5">
              <ul>
                <li><a href="http://designerspics.com" target="_blank"><img src="css/designerspics.png" alt=""></a></li>
                <li>DesignersPics</li>
                <li><a href="http://designerspics.com" target="_blank">http://designerspics.com</a></li>
                <li>심플하고 원색느낌의 이미지</li>
              </ul>
            </div>
            <div class="content-pi pi-6">
              <ul>
                <li><a href="http://pexels.com" target="_blank"><img src="css/pexels.png" alt=""></a></li>
                <li>Pexels</li>
                <li><a href="http://pexels.com" target="_blank">http://pexels.com</a></li>
                <li>다양한 종류의 이미지</li>
              </ul>
            </div>
          </div>  
        </div>
      </div>
      <div class="photo-footer-b b f-b"></div>
    </section>
    <section class="link-music-c" id="music">
      <div class="music-title-b b t-b">
        <div class="title-p"><p>무료음악</p></div>
      </div>
      <div class="music-content-b b c-b">
        <div class="content-p">
          <div class="content-p-w1">
            <div class="content-pi pi-1">
              <ul>
                <li><a href="http://nocopyrightsounds.co.uk" target="_blank"><img src="css/ncs.png" alt=""></a></li>
                <li>NCS<b> (NoCopyRightSounds )</b></li>
                <li><a href="http://nocopyrightsounds.co.uk" target="_blank">http://nocopyrightsounds.co.uk</a></li>
                <li>저작권 없는 대표 BGS 다운로드 </li>
              </ul>
            </div>
            <div class="content-pi pi-2">
              <ul>
                <li><a href="http://mp3web.com" target="_blank"><img src="css/mp3web.png" alt=""></a></li>
                <li>MP3Web</li>
                <li><a href="http://mp3web.com" target="_blank">http://mp3web.com</a></li>
                <li>무료 mp3 트랙 다운로드</li>
              </ul>
            </div>
            <div class="content-pi pi-3">
              <ul>
                <li><a href="https://fanburst.com" target="_blank"><img src="css/fanburst.png" alt=""></a></li>
                <li>Fanburst</li>
                <li><a href="https://fanburst.com" target="_blank">https://fanburst.com</a></li>
                <li>장르별 무료(유료) 음악 다운로드</li>
              </ul>
            </div>
          </div>  
          <div class="content-p-w2">
            <div class="content-pi pi-4">
              <ul>
                <li><a href="https://soundcloud.com" target="_blank"><img src="css/soundcloud.png" alt=""></a></li>
                <li>SoundCloud</li>
                <li><a href="https://soundcloud.com" target="_blank">https://soundcloud.com</a></li>
                <li>저작권 없는 음원 다운로드 (부분적) </li>
              </ul>
            </div>
            <div class="content-pi pi-5">
              <ul>
                <li><a href="https://www.youtube.com/audiolibrary/music" target="_blank"><img src="css/youtubemusic.png" alt=""></a></li>
                <li>Youtube-Audio</li>
                <li><a href="https://www.youtube.com/audiolibrary/music" target="_blank">https://www.youtube.com</a></li>
                <li>오픈소스 음원 및 효과음 다운로드 </li>
              </ul>
            </div>
            <div class="content-pi pi-6">
              <ul>
                <li><a href="https://www.jamendo.com" target="_blank"><img src="css/jamendo.png" alt=""></a></li>
                <li>Jamendo</li>
                <li><a href="https://www.jamendo.com" target="_blank">https://www.jamendo.com</a></li>
                <li> 무료 음원 다운로드 (비영리) </li>
              </ul>
            </div>
          </div>  
        </div>
      </div>
      <div class="music-footer-b b f-b"></div>
    </section>
    <section class="link-video-c" id="video">
      <div class="video-title-b b t-b">
        <div class="title-p"><p>무료비디오</p></div>
      </div>
      <div class="video-content-b b c-b">
        <div class="content-p">
          <div class="content-p-w1">
            <div class="content-pi pi-1">
              <ul>
                <li><a href="https://pixabay.com" target="_blank"><img src="css/pixabay.png" alt=""></a></li>
                <li>Piaxbay</li>
                <li><a href="https://pixabay.com" target="_blank">https://pixabay.com</a></li>
                <li>무료 고퀄리티 비디오 다운로드</li>
              </ul>
            </div>
            <div class="content-pi pi-2">
              <ul>
                <li><a href="https://vimeo.com" target="_blank"><img src="css/vimeo.png" alt=""></a></li>
                <li>Vimeo</li>
                <li><a href="https://vimeo.com" target="_blank">https://vimeo.com</a></li>
                <li> 감각적인 무료 비디오 스트리밍 </li>
              </ul>
            </div>
            <div class="content-pi pi-3">
              <ul>
                <li><a href="https://videos.pexels.com" target="_blank"><img src="css/pexels-video.png" alt=""></a></li>
                <li>Pexels-Video</li>
                <li><a href="https://videos.pexels.com" target="_blank">https://videos.pexels.com</a></li>
                <li>무료 고퀄리티 비디오 다운로드</li>
              </ul>
            </div>
          </div>  
          <div class="content-p-w2">
            <div class="content-pi pi-4">
              <ul>
                <li><a href="https://www.videvo.net" target="_blank"><img src="css/videvo.png" alt=""></a></li>
                <li>Videvo</li>
                <li><a href="https://www.videvo.net" target="_blank">https://www.videvo.net</a></li>
                <li>카테고리별 비디오 다운로드</li>
              </ul>
            </div>
            <div class="content-pi pi-5">
              <ul>
                <li><a href="http://www.dailymotion.com/kr" target="_blank"><img src="css/dailymotion.png" alt=""></a></li>
                <li>Dailymotion</li>
                <li><a href="http://www.dailymotion.com/kr" target="_blank">http://www.dailymotion.com</a></li>
                <li>무료 비디오 라이브러리</li>
              </ul>
            </div>
            <div class="content-pi pi-6">
              <ul>
                <li><a href="https://www.onlinevideoconverter.com/ko/video-converter" target="_blank"><img src="css/ovc.png" alt=""></a></li>
                <li>OVC<b> (OnlineVideoConverter)</b></li>
                <li><a href="https://www.onlinevideoconverter.com/ko/video-converter" target="_blank">https://www.onlinevideoconverter.com</a></li>
                <li>youtube 비디오 추출 컨버터</li>
              </ul>
            </div>
          </div>  
        </div>
      </div>
      <div class="video-footer-b b f-b"></div>
    </section>
  </div>
  <script>
    linkSearch(btn);
  </script>
</body>
</html>